<app-org-selector (messageEvent)="receiveMessage($event)"></app-org-selector>
<button (click)="displayServers()">SHOW</button>


<table class="table table-striped">
  <thead>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
      <th>Delete</th>
      <th>Edit</th>
      <th>View details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let server of servers">
      <td>{{server.name}}</td>
      <td>{{server.id}}</td>
      <td>{{server.cpu.count}}</td>
      <td>{{server.cpu.speed}}</td>
      <td>{{server.memoryGb}}</td>
      <td>{{server.createTime | date:'medium'}}</td>
      <td>{{server.started}}</td>
      <td>{{server.deployed}}</td>
      <td>{{server.state}}</td>
      <td>
        <button label="Delete" (click)="showDialog(server)"></button>
      </td>
      <td>
        <button label="Edit" (click)="editServer(server)"></button>
      </td>
      <td>
        <button label="Show" (click)="viewDetails(server)"></button>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
  </ngb-pagination>

  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div>